<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/vue包/vue.js"></script>
</head>

<body>
  <div class="root">
    <input type="text" placeholder="你想要找到人" v-model="keyWord">
    <ul>
      <li v-for="p in filterPersons" :key="p.id">
        {{p.name}} -- {{p.age}}
      </li>
    </ul>
  </div>
</body>
<script>
  const vm = new Vue({
    el: '.root',
    data: {
      keyWord: '',
      persons: [
        { id: '001', name: '周冬雨', age: 18 },
        { id: '002', name: '周迎晨', age: 19 },
        { id: '003', name: '张杰', age: 20 },
        { id: '004', name: '马冬梅', age: 20 }
      ],
      filterPersons: []
    },
    // 监听事件
    watch: {
      keyWord: {
        immediate: true,
        handler(val) {
          this.filterPersons = this.persons.filter((p) => {
            return p.name.indexOf(val) !== -1
          })
        }
      }
    },

  })

</script>

</html>