<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/vue包/vue.js"></script>
</head>

<body>
  <div class="root">
    <input type="text" placeholder="你想要找到人" v-model="keyWord">
    <button @click="sortType = 1">年龄升序</button>
    <button @click="sortType = 2">年龄降序</button>
    <button @click="sortType = 0">原顺序</button>
    <ul>
      <li v-for="p in fillPersons" :key="p.id">
        {{p.name}} -- {{p.age}}
      </li>
    </ul>
  </div>
</body>
<script>
  const vm = new Vue({
    el: '.root',
    data: {
      keyWord: '',
      sortType: 0,  //排序判断条件 0 不排序 1升序 2降序
      persons: [
        { id: '001', name: '周冬雨', age: 30 },
        { id: '002', name: '周迎晨', age: 19 },
        { id: '003', name: '张杰', age: 50 },
        { id: '004', name: '马冬梅', age: 20 }
      ]
    },
    computed: {
      fillPersons() {
        const arr = this.persons.filter((p) => {
          return p.name.indexOf(this.keyWord) !== -1
        })
        //判断是否要排序
        if(this.sortType){
          arr.sort((p1,p2) => {
            return this.sortType == 1 ? p1.age - p2.age : p2.age - p1.age
          })
        }
        //不用排序也需要返回数组
        return arr
      }
    }
  })
</script>

</html>